.formcontato {
    background-color: #fcddec;
    width: 1662px;
}

.formcontato__contacto {
    display: flex;
    justify-content: center;
    padding: 64px 150px;
    gap: 50px;
}

.formcontato__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #ef5da8;
}

.formcontato__subtext {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 18.78px;
    color: #464646;
}

.formcontato__text {
    align-content: center;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 397px;
}

.formcontato__input {
    width: 656px;
    height: 40px;
    top: 8px;
    padding: 0px 12px 0px 12px;
    font-family: Raleway;
    border-radius: 4px;
    border: none;
}

.formcontato__textarea {
    width: 656px;
    height: 133px;
    padding: 0px 12px 0px 12px;
    gap: 4px;
    border-radius: 4px;
    font-family: Raleway;
    border: none;
}

.formcontato__botao {
    width: 165px;
    height: 51px;
    padding: 16px;
    gap: 10px;
    /* font-family: Raleway; */
    font-size: 16px;
    font-weight: 400;
    background-color: #ef5da8;
    color: #fff;
    border: #ef5da8
}



/* tablet */
@media screen and (max-width: 1220px) {

    .formcontato {
        width: 1220px;
    }
    
    .formcontato__contacto {
        padding: 2rem;
    }

    .formcontato__title {
        font-size: 1.375rem;
        line-height: 25.83px;
    }

    .formcontato__form {
        height: 573px;
        gap: 32px;
    }

    .formcontato__input {
        width: 450px;
        height: 56px;
        gap: 8px;
    }

    .formcontato__textarea {
        width: 450px;
    }

    .formcontato__botao {
        width: 151px;
        height: 40px;
        padding: 12px 16px 12px 16px;
        gap: 10px;
        font-size: 0.875rem;
    }

}

/* mobile */
@media screen and (max-width: 767px) {

    .formcontato__contacto {
        padding: 2rem;
    }

    .formcontato__title {
        font-size: 1.375rem;
    }

    .formcontato__text {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .formcontato__input {
        width: 296px;
        height: 56px;
        border-radius: 4px;
    }

    .formcontato__textarea {
        width: 296px;
        height: 133px;
        padding: 16px 0px 0px 0px;
        border-radius: 4px 0px 0px 0px;
    }

    .formcontato__form {
        height: 350px;
        align-items: baseline;
    }
}